header {
  background-color: #2b2b2b;
  height: 100px;
  align-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}

body {
  margin: 0;
}

#content {
  margin-top: 100px;
}

button {
  border: 0;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  background-color: #027357;
  color: white;
  font-size: 18px;
}

/*-------------------- JS added content --------------------*/

#img-section {
  display: flex;
  background-color: #18332d;
  background: url("./dinner-2024.jpg");
  height: 489px; /* To be removed, only temp for setup */
}

#dinner-img {
  width: 100%;
  height: auto;
}

#info-section {
  background-color: #eeebe3;
  padding: 50px;
}

#info-cards {
  display: flex;
  justify-content: space-around;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px black;
  border-radius: 8px;
  height: 500px;
  width: 500px;
  background-color: white;
}

.card-text {
  margin: 50px 20px 0 20px;
  font-size: 40px;
}

.card-button-container {
  align-self: center;
  margin: 20px 0 20px 0;
}

#opinion-section {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#opinion-head {
  display: flex;
  justify-content: center;
  font-size: 44px;
  color: #027357;
}

#opinion-reviews {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #eeebe3;
  height: 500px;
  width: 500px;
}

.review-text {
  margin: 20px;
  font-size: 20px;
}

.cust-name {
  font-size: 24px;
}

.cust-location {
  font-size: 24px;
}