header {
  background-color: #2b2b2b;
  height: 100px;
  align-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}

body {
  margin: 0;
}

button {
  border: 0;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  background-color: #027357;
  color: white;
  font-size: 18px;
}
